<article class="post" data-post-id="<%= post._id %>">
  <header class="post-header">
    <a href="<%- url_for(post.path) %>">
      <h1 class="post-title"><%= post.title %></h1>
      <% if (post.description){ %>
        <span class="post-description"><%= post.description %></span>
      <% } %>
    </a>
  </header>
  <footer class="post-footer">
    <br>
    <!--tagged <%- partial('tag') %>-->
    <%- partial('date', {date_format: config.date_format}) %>
    
  </footer>
  <br>
  <section class="post-content">
    <%- post.content %>
  </section>
</article>

<% if (post.next) { %>
<br>&mdash;<br><br>
<section class="post-next">
  <a href="<%= url_for(post.next.path) %>">next&nbsp;&nbsp;<span class="post-next-link"><%= post.next.title %></span></a>
</section>
<% } %>
